header{
    background-image: url(img/banner.jpg);
    width: auto;
    height: 55em;
    background-position: fixed;
    background-position: center;
    background-size: cover;
}


body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-between;
}

.logo {
    width: auto;
    height: auto;
}


header .image {
    position: absolute;
    left: -5em;
    top: 0;
}



ul, .icon-4{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
	align-items: center;
    align-content: space-evenly;
    justify-content: space-around;
}

nav ul {  
    list-style-type: none; 
}

nav a {
    text-decoration: none;
    color: black
}

span {
    position: absolute;
    top: 0;
    background-color: #14462d;
    border-radius: 50%;
    color: white;
    padding: 3px;
    font-size: 5px;   
}

.fa-cart-shopping {
    position: relative;
}

li {
    margin: 10px;
 }

.icon-4 i {
margin: 10px;
}

.icon-4 i {
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    color:#a0cb23 ;
    background-color: white;
    border-color: white;
}

.bienvenue{
    color:#a0cb23;
    font-size: 25px ;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
}

.titre h4 {
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Roboto', sans-serif;
}
.container-2 {
    padding-left: 15%;
    padding-top: 10%;
}
button:first-child {
    color: white;
    background-color: #a0cb23;
    border: none;
    margin-right: 20px;
}

button:last-child {
    color: white;
    background-color:#14462d;
    border: none;
}

.container-3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-evenly;
    margin: 100px 100px 100px 100px;
}

.legume {
    position: relative;
    background-color: #92ddd8;
    margin-right: 30px;
    width: 18em;
    height: 15em;
    text-align: left;
    padding: 30px;
    color: white;
}

.legume img {
    position: absolute;
    right: 0;
    bottom: 0;
}
 .legume-1 {
    padding-top: 40px;
    
 }
.boisson img, .santé img {
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.boisson {
    position: relative;
    background-color:#fb9823 ;
    margin-right: 30px;
    width: 15em;
    height: 15em;
    text-align: left;
    padding: 30px;
    color: white; 
   padding-top: 30px;
}

.boisson-1 {
    padding-top: 40px;
}
.santé {
    position: relative;
    background-color: #a0cb23;
    margin-right: 30px;
    width: 15em;
    height: 15em;
    text-align: left ;
    padding: 30px;
    color: white;
    position: relative;
}

.sante-1 {
    padding-top: 40px; 
}
.titre-2 {
 text-align: center;
}

.container-5 {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.container-5 img {
   max-height: 300em ;
}

.container-6 {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}


.beef , .fraises, .miel, .lait, .mangue, .broccoli {
    position: relative;
    background-color: #f6fafb;
    margin: 10px; 
    text-align: center; 
    padding-bottom: 20px;
}


.container-5 img {
    height: 8em;
    width: 13em;
}

.container-6 img {
    height: 10em;
    width: 8em;
    padding: 25px 60px 2px;
}

 .broccoli {
    border: 1px solid #a0cb23;
    padding: 20px;
 }

 .beef {
    padding: 20px; 
 }

 .hot button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(207, 62, 62);
 }
 .fraises {
    padding: 20px;
 }

 .titre-2 h5 {
    color: #a0cb23;
 }
.container-5 i.fa-solid:first-of-type{
    position: absolute;
    top: 10px;
    right: 8px;
    color: grey;
    font-size: 12px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    border-color: white;
}

.container-5 .broccoli i.fa-solid:first-of-type{
    color: white;
    background-color: #a0cb23;
}
.container-6 i.fa-solid:first-of-type{
    position: absolute; 
    top: 3px;
    right: 8px;
    color: grey;
    margin: 10px;
    font-size: 12px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    border-color: white;
}


 .container-5 .fa-solid, .container-6 .fa-solid{
    color: rgb(255, 231, 17);
 }

 .container-5 .fa-regular, .container-6 .fa-regular{
    color: gray;
 }

 s {
    color: gray;
 }

footer {
    position: relative;
    background-color: #a0cb23;
}

 .panier {
    position: absolute;
    bottom: 0;
    right: 0;

}
